{% extends 'base.html' %}
{% load static %}
{% block css %}
.navi-border {
background-color: transparent;
}
.navi-border:hover {
background-color: #fff;
}
.nav-c {
color: #fff;
}
.navi {
color: #fff;
}
.navi-border:hover .nav-c {
color: #000;
}
.navi-border:hover .navi {
color: #000;
}
html {
overflow-y: hidden;
}
html,
body {
height: 100%;
}
.carousel,
.item,
.active {
height: 100%;
}
.carousel-inner {
height: 100%;
background: #000;
}
.carousel-caption{padding-bottom:80px;}
h2{font-size: 60px;}
p{padding:10px}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
width: 100%;
height: 100%;
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
opacity:0.6;
}
.btn-transparent {
background: transparent;
color: #fff;
border: 2px solid #fff;
}
.btn-transparent:hover {
background-color: #fff;
}
.btn-rounded {
border-radius: 70px;
}
.btn-large {
padding: 11px 45px;
font-size: 18px;
}
{% endblock css %}
{% block carousel %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url({% static 'movies/img/curtain.jpg' %});"></div>
            <div class="carousel-caption">
              <h2 class="animated fadeInLeft">Moving</h2>
              <p class="animated fadeInUp">당신의 마음을 움직일 영화를 추천해 드립니다...</p>
              <p class="animated fadeInUp"><a href="#" class="btn btn-transparent btn-rounded btn-large">MOVIE LIST</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <iframe height="100%" width="100%" src="http://www.youtube.com/embed/{{pick.teaser}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}