{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<br><br><br><br>
<a href="{% url 'movies:list' %}" class="a-c">BACK</a>
<br><br><br>

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="http://image.tmdb.org/t/p/original/{{ movie.poster_url }}" class="card-img align-center" alt="{{ movie.title }}image" data-toggle="modal" data-target="#exampleModal">
      
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{ movie.title }}</h4>
        
        <p class="card-text">{{ movie.summary }}</p>
        <div class="d-flex align-items-bottom">
          <p class="card-text text-right"><small class="text-muted">개봉일: {{ movie.start_date }}</small></p>
          <p class="card-text text-right"><small class="text-muted">감독: {{ movie.director }}  </small></p>
          <p class="card-text text-right"><small class="text-muted">장르: 
            {% for genre in movie.genres.all %}
              {{ genre }}
            {% endfor %}</small></p>
          <p class="card-text text-right align-bottom">
            {% if user.is_authenticated %}
              {% if user in movie.like_users.all %}
              <i class="fas fa-heart like-button" style="color: crimson;" data-id="{{ movie.pk }}"></i>
              {% else %}
              <i class="fas fa-heart like-button" style="color: black;" data-id="{{ movie.pk }}"></i>
              {% endif %}
            {% endif %}
            <span id="like-count-{{ movie.pk }}">{{ movie.like_users.count }}</span>명이 이 영화를 좋아합니다.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% if movie.teaser != '' %}
<iframe width="100%" height="615" src="http://www.youtube.com/embed/{{movie.teaser}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% else %}

{% endif %}
<hr>
<h1>주요 출연진</h1>
<div class="card-deck" style="width: 1000px;">
  {% for cast in casts %}
  <div class="card">
    <img src="http://image.tmdb.org/t/p/original/{{ cast.profile_path }}" class="card-img-top" alt="#" width="200px">
    <div class="card-body">
      <h5 class="card-title">{{ cast.name }}</h5>
      <p class="card-text">{{ cast.character }}</p>
    </div>
  </div>
  {% endfor %}
</div>


<hr>
<h4 class="d-inline">관람객 평점</h4>
<p class="d-inline">  {{ reviews.count }}건</p>
<input type="submit" value="내 평점 등록" class="btn btn-outline-info p-1">
<br><br>
{% for review in reviews %}
<div>
  <span class="d-inline"> {{ review.user }} | {{ review.score }}점 {{ review.comment }}</span>
  {% if review.user == request.user %}
  <form action="{% url 'movies:review_update' movie.pk review.pk %}" method="POST" class="d-inline">
    {% csrf_token %}
    {{review_update_form}}
    <input type="submit" value="수정" class="btn btn-outline-warning p-1">
  </form>
  <form action="{% url 'movies:review_delete' movie.pk review.pk %}" method="POST" class="d-inline">
    {% csrf_token %}
    <input type="submit" value="DELETE" class="btn btn-outline-danger p-1">
  </form>
  {% endif %}
{% empty %}
  <p><b>댓글이 없습니다.</b></p>
</div>
{% endfor %}

<div class="container">
<hr>
{% if user.is_authenticated %}
  <form action="{% url 'movies:review_create' movie.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form review_form %}
    <input type="submit" value="submit" class="btn btn-outline-info">
  
  </form>
{% else %}
  [댓글을 작성하려면 로그인하세요.]\
{% endif %}
</div>
<br>



{% endblock content %}
{% block script %}
<script>
  const likebuttons = document.querySelectorAll('.like-button')
  likebuttons.forEach(button => {
    button.addEventListener('click', function (event) {

      const movieId = event.target.dataset.id
      // console.log(typeof (movieId))
      // 해상 상세 게시글의 좋아요 요청을 보낸다.
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post(`/movies/${movieId}/like/`)
        .then(response => {
          // console.log(response)
          document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
          if (response.data.liked) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'black'
          }
        })
    })
  })
  
  
  
  
</script>
{% endblock script %}