{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for movie in movies %}
        <div class="card col-2 p-0">
          <img src="http://image.tmdb.org/t/p/original/{{ movie.poster_url }}" class="card-img-top" data-toggle="{{movie.title}}" data-target="#{{movie.title}}" alt="{{ movie.title }}포스터" height="70%">
          <div class="card-body">
            <a href="{% url 'movies:detail' movie.pk %}"><p class="card-title">{{ movie.title }}</p></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}