{% extends 'base.html' %}
{% load static %}

{% block css %}

span {
  vertical-align: middle;
  line-height: 100%;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 101%;
  width: 101%;
  opacity: 0;
  border-radius: 5px;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: underline solid red;
}

.imgdiv {

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.imgdiv:hover {
  border: none;
  transform: scale(1.13);
  box-shadow: 0 14px 28px rgba(0,0,0,0.7), 0 10px 10px rgba(0,0,0, 0.7);
  z-index: 999;
  
}

.imgdiv:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}

{% endblock css %}


{% block content %}


<br><br><br><br>
<div class="app">
  <select class="form-control" style="width:200px; height: 30px; font-family: 'Nanum Gothic Coding';" v-model="selectedGenreId">
    <option v-for="genre in genres" :key="genre.id" :value="genre.pk" style="font-family: 'Nanum Gothic Coding';">
      [[ genre.fields.name ]]
    </option>
  </select>
  <div class="container">
    
    <br><br>
    <div v-if="selectedGenreId === 0" class="row">
      <div v-for="movie in movies" :key="movie.id" class="card col-3 p-0 imgdiv" id="imgdiv">
        <img height="100%" :src="'http://image.tmdb.org/t/p/original/'+ movie.fields.poster_url" id="imgs" class="card-img-top" :alt="movie.fields.title+'포스터'">
        <a :href="movie.pk"><div class="overlay text p-3"><span>[[ movie.fields.title ]]</span></div></a>
      </div>

    </div>
    <div v-else class="row">
      <div v-for="movie in filterMovies" :key="movie.id" class="card col-3 p-0 imgdiv" id="imgdiv">
        <img height="100%" :src="'http://image.tmdb.org/t/p/original/'+ movie.fields.poster_url" id="imgs" class="card-img-top" :alt="movie.fields.title+'포스터'">
        <a :href="movie.pk"><div class="overlay text p-3"><span>[[ movie.fields.title ]]</span></div></a>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  const app = new Vue({
    el: '.app',
    delimiters: ['[[', ']]'],
    data() {
      return {
        movies: [],
        genres: [],
        filterMovies: [],
        selectedGenreId: 0,
      }
    },
    mounted() {
      const genreUrl = "https://raw.githubusercontent.com/MAC-FLEX/Moving/master/movies/fixtures/movies/genres.json"
      axios.get(genreUrl)
        .then(response => {
          this.genres = response.data
          this.genres.unshift({
            "pk": 0,
            "fields": {
              "name": "전체보기"
            },
          })
        })
      const movieUrl = 'https://raw.githubusercontent.com/MAC-FLEX/Moving/master/movies/fixtures/movies/movies.json'
      axios.get(movieUrl)
        .then(response => {
          this.movies = response.data
        })
    },
    watch: {
      selectedGenreId: {
        handler() {
          this.filterMovies = this.movies.filter(movie => {
            var tmp = movie.fields.genres
            var check = false
            for (var i = 0 in tmp) {
              if (tmp[i] === this.selectedGenreId) {
                check = true
              }
            }
            return check
          })
        }
      }
    }
  })

</script>
{% endblock script %}

