{% extends 'base.html' %}
{% block css %}
.nav-c:hover {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}
.navi:hover {
  font-size: 1rem;
  font-weight: bold;
}


.speech-bubble {
	position: relative;
	background: #fbfffc;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #fbfffc;
	border-top: 0;
	border-right: 0;
	margin-left: -10px;
	margin-top: -20px;
}

{% endblock css %}
{% block content %}
<div class=" text-center">
  <br>
  {% with followers=auth_user.follow_user.all followings=auth_user.following_user.all %}
  <div class="d-flex justify-content-center align-items-center">
    <h2 class="d-inline">{{ auth_user.username }}</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="d-inline">
      <h5 class="mb-0" style="font-size: 1.4rem; font-weight: bold;"><span id="follow-count-{{auth_user.pk}}">{{ auth_user.follow_user.count }}</span></h5> 
      <br>
      
      <button type="button" class="a-c" data-toggle="modal" data-target="#followers">
        followers
      </button>

      <!-- Modal -->
      <div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">FOLLOWERS</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% for following in followers %}
                <a href="{% url 'accounts:user_detail' following.pk %}"><option value="following.username">{{following.username}}</option></a>
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


      
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="d-inline">
      <h5 class="mb-0" style="font-size: 1.4rem; font-weight: bold;">{{ followings|length }}</h5> 
      <br>
      <button type="button" class="a-c" data-toggle="modal" data-target="#exampleModalCenter">
        follow
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">FOLLOW</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% for following in followings %}
                <a href="{% url 'accounts:user_detail' following.pk %}"><option value="following.username">{{following.username}}</option></a>
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% if user == auth_user %}
  <a class="nav-item nav-link nav-c d-inline" href="{% url 'accounts:update' %}" role="tab">정보수정</a>
  <a class="nav-item nav-link nav-c d-inline" href="{% url 'accounts:change_password' %}" role="tab">비밀번호 변경</a>
  <a class="nav-item nav-link nav-c d-inline" role="tab">
    <form action="{% url 'accounts:delete' %}" method='POST' style="display: inline;">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴" class="navi">
    </form>
  </a>
  
  <hr>
  <ul>
  {% for now_id in movie_id_list %}
    <h5 class="d-inline">{{ now_id.title }}</h5>에 남기신 리뷰입니다.
    {% for review in ratings %}
      {% if now_id.id == review.movie_id %}
        <li>{{ review.score }} | {{ review.comment }}</li>
      {% endif %}
    {% endfor %}
  {% endfor %}

  </ul>
  
  {% endif %}
  <div class="d-flex">
    {% for movie in movies %}
      <div class="card p-0 d-inline" style="width: 18rem;">
        <img src="http://image.tmdb.org/t/p/original/{{movie.poster_url}}" class="card-img-top" alt="좋아하는 영화 이미지" width="100%" height="80%">
        <div class="card-body">
          <p class="card-text">
            <a href="{% url 'movies:detail' movie.pk %}">
              <h4>{{ movie.title }}</h4>
            </a>
          </p>
        </div>
      </div>
      
    {% endfor %}
  </div>

    
    <hr>
    {% if user.is_authenticated %}
      {% if user != auth_user %}
        {% if user in follwers %}
          <span class="a-c follow" data-id="{{ auth_user.pk }}">UnFollow</span>
        {% else %}
          <span class="a-c follow" data-id="{{ auth_user.pk }}">Follow</span>

        {% endif %}
      {% endif %}
    {% endif %}
  {% endwith %}
  </div>
  <a href="{% url 'accounts:index' %}" class="a-c">BACK</a>
{% endblock content %}
{% block script %}
<script>
const follows = document.querySelectorAll('.follow')
follows.forEach(button => {
  button.addEventListener('click', function(event) {
    const followId = event.target.dataset.id
    axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'
    axios.get(`/accounts/follow/${followId}/`)
      .then(response => {
        document.querySelector(`#follow-count-${followId}`).innerText = response.data.count
        if (response.data.followed) {
          
          event.target.innerText = "UnFollow"
        } else {
          
          event.target.innerText = "Follow"
        }
      })
      .catch(error => console.log(error))
  })
})

</script>
{% endblock script %}