{% extends 'base.html' %}

{% block css %}
.button:hover{
  color: #fff !important;
}
{% endblock css %}
{% block content %}
  <br><br>
  
  <p style="text-align: right;">총 회원 수는<span style="font-size: 1.5rem; color: #ff0000;"> {{users|length}}</span>명입니다.</p>
  
  {% for user in users %}
    
    

    <div class="card text-center">
      
      <div class="card-body">
        <h4 class="card-title">{{user.username}}</h4>
        <p class="card-text">{{user.email}}</p>
        <a href="{% url 'accounts:user_detail' user.pk %}" class="btn btn-outline-primary button p-1">Detail</a>
      </div>
      
        <div class="card-footer text-muted">
          {% if user.is_staff %}
          관리자
          
          {% elif not user.is_staff %}
          일반 유저
          
          {% endif %}
        </div>
      
    </div>
    <br>
  {% endfor %}
{% endblock %}