{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load socialaccount %}
{% block css %}
body {
  background: url('{% static 'accounts/img/theater.jpg' %}');
  background-size: 100% 100%;
  background-attachment: fixed;
}
.backg {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 20px;
}
.login {
  font-family: 'Carrois Gothic', sans-serif;
  font-weight: bold;
}
.update_btn {
  border: 0;
  background: none;
  color: #fff;
}
.update_btn:hover {
  font-size: 1.9rem;
  border: solid 1px #ff0000;
  border-radius: 5px;
  color: #fff;
}
{% endblock css %}
{% block content %}

  <div class="row justify-content-center">
    <div class="col-8 p-3 backg text-center">
      <h3 class="login">LOGIN</h3>
      <br>
      <a class="btn btn-outline-warning" href="{% provider_login_url "kakao" %}">KAKAO</a>
      <a class="btn btn-outline-primary" href="{% provider_login_url "github" %}">GITHUB</a>
      <a class="btn btn-outline-success" href="{% provider_login_url "naver" %}">NAVER</a>
      <br><br>

      <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="로그인" class="update_btn d-inline">
      </form>
    </div>
  </div>

{% endblock content %}
