{% extends 'base.html' %}

{% block content %}
  <br>
  <h1>{{ auth_user.username }}</h1>
  {% for review in reviews %}
    <a href="{% url 'movies:detail' review.movie.pk %}"><h3>{{ review.movie.title }}</h3></a>
    
    {{ review.score }} | {{ review.content }}
    <hr>
  {% endfor %}

  {% with followers=auth_user.follow_user.all followings=auth_user.following_user.all %}
    <h3>
    팔로워: {{ followers|length }}명 |
    팔로잉: {{ followings|length }}명
    </h3>
    <select name="" id="">
      {% for following in followings %}
        <a href="{% url 'users:user_detail' following.pk %}"><option value="following.username">{{following.username}}</option></a>
      {% endfor %}
    </select>
    
    <hr>
    {% if user != auth_user %}
      {% if user in followers %}
        <a href="{% url 'users:follow' auth_user.pk %}" role="button" class="btn btn-warn">UnFollow</a>
      {% else %}
        <a href="{% url 'users:follow' auth_user.pk %}" role="button" class="btn btn-danger">Follow</a>

      {% endif %}
    {% endif %}
  {% endwith %}
  <a href="{% url 'users:index' %}" class="btn btn-info">BACK</a>
{% endblock content %}