@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

.simple-tab-nav{
  margin-bottom: 20px;
  &.simple-nav{
    .nav-link{
      border:0px;
      padding: 10px 15px;
      font-weight: 700;
      &:first-child{
        padding-left: 0;
      }
      &.active{
        
      }
    }
  }
  &.center-nav{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    .nav-link{
      display: inline-block;
    }
  }
  .nav-link{
    color: #555555;
    border-bottom: 3px solid #fff;
    padding: 10px 15px;
    &.active{
      color: #ff0000;
      border-color: #DD4F43;
      font-weight: 700;
    }
  }
}
